{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts" style="border: 3px #eeeeee; width: 650px;">
    <h1 style="color: red; font-family: 微软雅黑"> About Me ... </h1>
    <p style="font-family: '微软雅黑 Light'; font-size: 15px; color: blue">
        这是我写的一个小小的blog，熟悉使用django框架。熟悉html、css和js。梦想着从事这方面的工作，为此付出努力。有志者，事竟成。
    </p>
    <p><img src="../static/img/1.jpg" width="600" height="350"></p>
    <div id="div2">
        <p style="font-family: '微软雅黑 Light'; font-size: 15px; color: blue">
        充满鲜花的世界到底在哪里<br/>
        如果它真的存在那么我一定会去<br/>
        我想在那里最高的山峰矗立<br/>
        不在乎它是不是悬崖峭壁<br/>
        用力活着用力爱哪怕肝脑涂地<br/>
        不求任何人满意只要对得起自己<br/>
        关于理想我从来没选择放弃<br/>
        即使在灰头土脸的日子里<br/>
        也许我没有天分<br/>
        但我有梦的天真<br/>
        我将会去证明用我的一生<br/>
        也许我手比较笨<br/>
        但我愿不停探寻<br/>
        付出所有的青春不留遗憾<br/>
        </p>
    </div>
    <p><img src="../static/img/2.jpg" width="600" height="350" alt=""/></p>
</div><!-- /.blog-post -->
{% endblock %}
